
<div class="modal d-block" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-overlay" (click)="onCloseModal()"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Note</h1>
          <button type="button" class="btn-close" (click)="onCloseModal()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm!" (ngSubmit)="onEditNote()">
            <div class="mb-3">
              <label for="noteTitle" class="form-label">Title</label>
              <input formControlName="title" type="text" class="form-control">
            </div>
            <div class="mb-3">
              <label for="noteTitle" class="form-label">Description</label>
              <textarea formControlName="desc" type="text" class="form-control" rows="3"></textarea>
            </div>
            <div class="border-top mt-4 pt-4 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary" [disabled]="editForm?.invalid">Submit Edit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>