
.placeholder-auth {
    width: 65%;
    margin: auto;
    .card-body {
        .card-input {
            span {
                height: 38px;
                border-radius: 6px;
            }
        }
    }
}